body {
  margin: 100px;
  color: #0875cb;
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
}

.main-card {
  max-width: 500px;
  margin: 0 auto;
  background-color: #f7fbff;
  border: 3px solid #d9eafc;
}

.current-state {
  margin: 35px 0;
}

.current-state-right-column {
  text-align: right;
}

.current-emoji,
.preview-emoji {
  font-size: 40px;
}

.current-temp {
  font-size: 40px;
  font-weight: 500;
}

.current-humidity,
.current-wind,
.current-date,
.current-weather {
  line-height: 1.2;
}

.current-city {
  font-size: 35px;
  font-weight: 500;
}

.preview-day {
  text-align: center;
  margin-bottom: 20px;
}

.preview-high-temp,
.preview-low-temp {
  font-size: 12px;
}

.preview-low-temp {
  color: #42a5f5;
}

.footer {
  font-size: 12px;
  text-align: center;
}
